@font-face {
  font-family: "google";
  src: url(https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2);
}
.homeContent {
  padding-top: 18%;
  padding-left: 3%;
  font-family: "google";
}

.homeButtonDiscord {
  background-color: #7289d9;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.homeButtonPortal {
  background-color: #1a73e8;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.events {
  padding: 1%;
}

.eventsEventsPageButton {
  background-color: #fbbc04;
  border: 0;
  border-radius: 5px;
  color: #333333;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.eventsEventsPageButton:hover {
  background-color: #fbb904;
  transform: scale(0.9);
  transition-duration: 0.5s;
}
.podcast {
  padding-bottom: 2%;
}

