.Card {
  flex-grow: 1;
  max-width: 400;
}

.Card > h1 {
  font-weight: 200;
  font-family: "google";
}

.Card > p {
  font-weight: 300;
  font-size: x-large;
  font-family: "google";
}

.Card > a > img {
  width: 50px;
}
